.footer {
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/what-the-hex-dark.png") repeat;
    color: #fff;
    text-align: left;
    padding: 0 1em 0 1em;
    font-size: 0.7em;
}