.header {
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/what-the-hex-dark.png") repeat;
    color: #fff;
    box-shadow: 2px 2px 3px #000;
    z-index: 10000;
    text-align: start;
    padding: 0.3em;
    display: flex;
    align-items: center;
}

.logo {
    display: inline-block;
}

.logo img{
    height: 50px;
}

.logged-user {
    flex: 1;
    display: inline-block;
    color: #25B99A;
    margin-left: 1em;
}

.logged-user-name {
    color: #FFFFFF;
}

.dots-wrapper {
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
}

.dots-wrapper svg {
    fill: #25B99A;
    zoom: 2;
}

.menu {
    position: absolute;
    right: 5px;
    top: 45px;
    background-color: #FFF;
    color: black;
    border: 1px solid #25B99A;
    border-radius: 10px;
    padding: 1em 0 1em 0;
    width: 8em;
}

.menu .new-group-item {
    border-radius: 0;
    color: #FFFFFF;
    background-color: #25B99A;
}

.menu li:hover {
    border-radius: 0;
    background-color: #CCCCCC;
}