.App {
  height: 100%;
  /*text-align: center;*/
  display: flex;
  flex-direction: column;
  /*padding: 5px;*/
}

.header {
  text-align: center;
}

.chat {
    flex: 1;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.footer {
  text-align: center;
}
